<div class="container">
    <h1 class="text-center p-5">{{title}}</h1>
    <div class="chatbox">
        <h5>Username:</h5>
        <input type="text" id="user">
        <h5>Mensajes:</h5>
        <input type="text" id="messages">
        <div class="container">
            <p id="log"></p>
        </div>
    </div>
</div>