<main class="d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-6 d-flex flex-column p-5">
                <h3 class="text-center">Register New Product</h3>
                <form id="productsForm" name="productsForm" enctype="multipart/form-data">
                        <fieldset class="mb-2">
                            <label for="productName" class="form-label">Product Name</label>
                            <input type="text" class="form-control" name="name" id="productName" />
                        </fieldset>
                        <fieldset class="mb-2">
                            <label for="productDescription" class="form-label">Description</label>
                            <input type="text" class="form-control" name="description" id="productDescription" />
                        </fieldset>
                        <fieldset class="mb-2">
                            <label for="productPrice" class="form-label">Price</label>
                            <input type="number" class="form-control" name="price" id="productPrice" />
                        </fieldset>
                        <fieldset class="mb-2">
                            <label for="productCode" class="form-label">Code</label>
                            <input type="text" class="form-control" name="code" id="productCode" />
                        </fieldset>
                        <fieldset class="mb-2">
                            <label for="productStock" class="form-label">Stock</label>
                            <input type="number" class="form-control" name="stock" id="productStock" />
                        </fieldset>
                        <div class="mb-2">
                            <label for="image" class="form-label">Photo</label>
                            <input type="file" class="form-control" name="image" id="image" aria-describedby="photoSource"/>
                        </div>
                        <button type="submit" class="btn btn-danger mt-2">Register!</button>
                </form>
            </div>
            <div id="productTable" class="col-6"></div>
        </div>
    </div>
</main>