<div class="container">
    <h1 class="text-center p-5">RESET PASSWORD</h1>
    <div class="forgot-password d-flex justify-content-center align-items-center">
        <form class="d-flex flex-column justify-content-center align-items-center w-70" id="confirmForm">
            <fieldset class="mb-2 w-100 hidden">
                <input type="hidden" class="form-control" name="email" id="email" value={{email}} />
            </fieldset>
            <fieldset class="mb-2 w-100">
                <label for="password" class="form-label">Password: </label>
                <input type="password" class="form-control" name="password" id="password" />
            </fieldset>
            <fieldset class="mb-2 w-100">
                <label for="passwordConfirm" class="form-label">Confirm Password: </label>
                <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm" />
            </fieldset>
            <button type="submit" class="btn btn-primary mt-2 w-100">Reset Password!</button>
        </form>
    </div>
</div>