<div class="container">
    <h1 class="text-center p-5">RESET PASSWORD</h1>
    <div class="forgot-password d-flex justify-content-center align-items-center">
        <form class="d-flex flex-column justify-content-center align-items-center w-70" id="resetForm">
            <fieldset class="mb-2 w-100">
                <label for="mail" class="form-label">Password: </label>
                <input type="email" class="form-control" name="mail" id="email" />
            </fieldset>
            <fieldset class="mb-2 w-100">
                <label for="mail" class="form-label">Confirm Password: </label>
                <input type="email" class="form-control" name="mail" id="email" />
            </fieldset>
            <button type="submit" class="btn btn-primary mt-2 w-100">Reset!</button>
        </form>
    </div>
</div>