<div class="container">
    <h1 class="text-center p-5">RESET PASSWORD</h1>
    <div class="forgot-password d-flex justify-content-center align-items-center">
        <form class="d-flex flex-column justify-content-center align-items-center w-70" id="forgotForm">
            <fieldset class="mb-2 w-100">
                <label for="mail" class="form-label">Email</label>
                <input type="email" class="form-control" name="mail" id="email" />
            </fieldset>
            <div class="d-flex justify-content-between mt-4 w-100">
                <p >Para resetear password, presione aquí:  </p>
                {{!-- <a href="/api/forgot-password" class="text-center">
                    Reset Password
                </a> --}}
                 <button type="submit" class="btn btn-primary mt-2 w-50">Reset!</button>
            </div>
        </form>
    </div>
</div>