<main class="d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-6 d-flex flex-column">
                    <h3>User Login</h3>
                    <form id="productsForm">
                                <fieldset class="mb-2">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="text" class="form-control" name="email" id="email" />
                                </fieldset>
                                <fieldset class="mb-2">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" name="password" id="password" />
                                </fieldset>
                                <button id='login' type="submit" class="btn btn-success mt-2">Log In!</button>
                                <button id='signout' type="submit" class="btn btn-primary mt-2">Sign Out!</button>
                            </form>
                            </div>
                        <div id="productTable" class="col-6"></div>
                    </div>
                </div>
            </main>